<div style="padding: 5px">

	<h3>Select files</h3>
	<span class="btn btn-primary btn-file glyphicon glyphicon-folder-open">
		Browse&hellip; <input type="file" multiple aria-describedby="sizing-addon3" nv-file-select="" uploader="uploader">
	</span>
	
	<h3>Upload queue</h3>
	<p>Queue length: {{ uploader.queue.length }}</p>

	<table class="table">
		<thead>
			<tr>
				<th width="50%">Name</th>
				<th ng-show="uploader.isHTML5">Size</th>
				<th ng-show="uploader.isHTML5">Progress</th>
				<th>Status</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in uploader.queue">
				<td><strong>{{ item.file.name }}</strong></td>
				<td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
				<td ng-show="uploader.isHTML5">
					<div class="progress" style="margin-bottom: 0;">
						<div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
					</div>
				</td>
				<td class="text-center">
					<span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
					<span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
					<span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
				</td>
				<td nowrap>
					<button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
						<span class="glyphicon glyphicon-upload"></span> Upload
					</button>
					<button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
						<span class="glyphicon glyphicon-ban-circle"></span> Cancel
					</button>
					<button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
						<span class="glyphicon glyphicon-trash"></span> Remove
					</button>
					<span ng-show="item.isSuccess">
						<button type="button" class="btn btn-xs"  ng-click="process(item.file.name, item.servername, multifile)">
							<span class="glyphicon glyphicon-save"></span> Process
						</button>
						<input type="text" placeholder="server name" ng-model="item.servername">
					</span>
				</td>
			</tr>
		</tbody>
	</table>

	<div>
		<div>
			Queue progress:
			<div class="progress" style="">
				<div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
			</div>
		</div>
		<button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
			<span class="glyphicon glyphicon-upload"></span> Upload all
		</button>
		<button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
			<span class="glyphicon glyphicon-ban-circle"></span> Cancel all
		</button>
		<button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
			<span class="glyphicon glyphicon-trash"></span> Remove all
		</button>
	</div>
	
	<div class="container" ng-show="showAnalize">
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4 text-center">
				<button type="button" class="btn btn-success btn-lg" ng-click="analyze()">Analyze</button>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
	
	<!-- Modal stuff -->
	<!-- Modal Error/Info -->
	<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">{{modaltitle}}</h4>
				</div>
				<div class="modal-body">
					<p>{{modalmessage}}</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Modal Loading/Analyzing -->
	<div class="modal fade" id="ModalLoading" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content text-center">
				<h1>{{modalverb}}</h1>
				<img src="images/loading.gif">
			</div>
		</div>
	</div>
	
	<!-- Modal Confirm -->
	<div class="modal fade" id="ModalConfirm" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">{{modaltitle}}</h4>
				</div>
				<div class="modal-body">
					<p>{{modalmessage}}</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-success" ng-click="multifile = true; process(fileid, servname, multifile)">Yes</button> <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Modal stuff -->	
</div>